@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

/*reset*/

* {padding: 0;margin: 0;box-sizing: border-box;font-family:inherit;font-weight: inherit;list-style: none;text-decoration: none;color: inherit;}
html {display: block;font-size: 100%;scroll-behavior: smooth;height: 100%;}
body {height: 100%;margin: 0;background-repeat: no-repeat;background-attachment: fixed;}
button {cursor: pointer;border: none;background: none;}

:root {
  --blue-900: #2a3844;
  --blue-400: #0969da;
  --grey-900: #333;
  --grey-700: rgba(51, 51, 51, .65);
  --grey-300: rgba(51, 51, 51, .1);
}

/*settings*/

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 83.125rem;
  margin: 0 auto;
  padding: 0 15px;
}

.app-wrapp {
  padding: 1.5625rem 0;
  display: grid;
  grid-template: auto / 12.5rem 1fr;
  gap: 1.875rem;
}

@media screen and (max-width: 1024px) {
  .app-wrapp {
    grid-template: auto / 1fr;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  color: var(--grey-700);
}

p {
  color: var(--grey-700);
}

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  border: .0625rem solid var(--grey-300);
  border-radius: 6.25rem;
  padding: .5rem .9375rem;
}

.btn img {
  width: 1.25rem;
  height: 1.25rem;
}

.btn button {
  font-size: 16px;
  font-weight: 500;
}

@media (any-hover: hover) {
  .btn:hover img{
    animation: stagger .4s linear;
  }
}

/*keyframes*/

@keyframes stagger {
  0% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}

/*header*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4.6875rem;
}

.header__row {
  display: flex;
  align-items: center;
  gap: .625rem;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.header__logo img {
  width: 1.5625rem;
  height: 1.5625rem;
  opacity: .6;
}

.menu-hamburger {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1024px) {
  .menu-hamburger {
    display: block;
  }
}

.menu-hamburger img {
  margin-top: .3125rem;
  width: 1.25rem;
  height: 1.25rem;
}

/*sidebar*/

.sidebar__wrapp {
  padding-top: 1.5625rem;
  position: sticky;
  top: 0;
  max-height: 18.75rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 2.5rem;
  transition: .5s ease;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--grey-700);
    opacity: 0;
    pointer-events: none;
  }

  .sidebar__wrapp  {
    padding-left: 1.25rem;
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    max-height: unset;
    height: 100%;
    width: 15.625rem;
    background: #fff;
  }

  .sidebar.active {
    opacity: 1;
    pointer-events: all;
    transition: .3s ease;
  }

  .sidebar.active .sidebar__wrapp {
    left: 0;
  }

  .sidebar.active .sidebar__close {
    display: flex;
    right: .9375rem;
  }
}

.sidebar h3 {
  opacity: .3;
}

.sidebar__navbar ul {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.sidebar__navbar li {
  cursor: pointer;
  font-size: 1rem;
  transition: .3s;
}

@media (any-hover: hover) {
  .sidebar__navbar li:hover {
    opacity: .3;
  }
}

.sidebar__close {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -100%;
  top: .9375rem;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  transition: .5s ease;
}

.sidebar__close img {
  width: .9375rem;
  height: .9375rem;
}

@media screen and (max-width: 1024px) {
  .sidebar__close {
    display: flex;
  }
}

/*main*/

.main {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}

.main__category {
  padding-top: 1.5625rem;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.main__items {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 1.25rem;
}

@media screen and (max-width: 71.875rem) {
  .main__items {
    grid-template: 1fr / repeat(2, 1fr);
  }
}

@media screen and (max-width: 38.125rem) {
  .main__items {
    grid-template: 1fr / 1fr;
  }
}

.item {
  display: grid;
  grid-template: 1fr auto / 1fr;
  gap: .5rem;
}

.item__info {
  overflow: hidden;
  display: grid;
  grid-template: 10.625rem 1fr / 1fr;
  box-shadow: 3px 3px .9375rem var(--grey-300);
  border-radius: 6px;
}

@media (any-hover: hover) {
  .item__info:hover .item__image img {
    transform: scale(1.5);
  }
}

.item__image {
  position: relative;
  overflow: hidden;
}

.item__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 20s ease-out;
}

.item__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1.25rem;
  padding: 1.25rem;
}

.item__body p {
  flex: 1 1 auto;
}

.item__links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-row-gap: .3125rem;
  grid-column-gap: .9375rem;
}

.item__links a {
  display: inline-flex;
  align-items: center;
  gap: .625rem;
  color: var(--blue-400);
  font-weight: 500;
}

.item__links a span {
  transition: .3s;
}

@media (any-hover: hover) {
  .item__links a:hover img {
    animation: stagger .4s both;
  }
  .item__links a:hover span {
    opacity: .6;
  }
}

.item__links a img {
  width: .9375rem;
  height: .9375rem;
}

.item__technologies {
  padding: .8125rem 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: .3125rem;
  box-shadow: 3px 3px .9375rem var(--grey-300);
  border-radius: 6px;
}

.item__technologies li {
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 3px;
  font-weight: 500;
  color: var(--grey-700);
  background: var(--grey-300);
}